In [11]:
import pandas as pd 
import numpy  as np 
import os

In [3]:
os.getcwd()

'C:\\Users\\Dell\\Desktop\\python'

### HDF5

In [4]:
import h5py

In [8]:
#create an HDF5 file 
with h5py.File('example.h5','w')as hf: 
    #create a group
    group=hf.create_group('group1')
    #create datasets under group8
    group.create_dataset('dataset1',data=np.arange(10))
    group.create_dataset('dataset2',data=np.random.random(10))
    #Add attribute to group 1 
    group.attrs['detail']='This is group 1'

In [10]:
#Open an HDF5 file 
with h5py.File('example.h5','r')as hff:
    #Access the group 
    group=hff['group1']
    #Access the datasets 
    data1=group['dataset1'][:]
    data2=group['dataset2'][:]
    #Access the attribute 
    att=group.attrs['detail']
    print('Group Attribute:',att)
    print('Dataset1',data1)
    print('Dataset2',data2)

Group Attribute: This is group 1
Dataset1 [0 1 2 3 4 5 6 7 8 9]
Dataset2 [0.27332859 0.31158017 0.89036173 0.76651694 0.99972333 0.25877024
 0.13808219 0.80835749 0.91798874 0.2981409 ]

In [18]:
#Extract the name of groups and datasets 
with h5py.File('example.h5','r')as hfff:
    #Print key group 
    print('Key group:')
    for key in hfff.keys():
        print(key)
        #Print key attribute 
        item=hfff[key]
        print('Group Attribute:',dict(item.attrs))
        #Print key dataset
        print('Key dataset:')
        item=hfff[key]
        print(list(item.keys()))

Key group:
group1
Group Attribute: {'detail': 'This is group 1'}
Key dataset:
['dataset1', 'dataset2']

In [ ]:
    #Print key dataset
    print('Key dataset:')
    item=hfff[key]
    print(list(item.keys()))

In [20]:
#Create HDF5 file using pandas
df=pd.DataFrame({
    'A':range(10),
    'B':np.random.random(10)
})

#Stare as HDF5 file 
df.to_hdf('example2.h5',key='df',mode='w')

In [22]:
#Load data using pandas
df2=pd.read_hdf('example2.h5',key='df')
print(df2)

   A         B
0  0  0.636939
1  1  0.469725
2  2  0.520868
3  3  0.222652
4  4  0.828630
5  5  0.227684
6  6  0.503376
7  7  0.254718
8  8  0.965364
9  9  0.209932

In [23]:
os.chdir('C:\\Users\\Dell\\Desktop\\python')

In [36]:
os.chdir('C://Users//Dell//Desktop//python/sample dataset/sample dataset')
#Extract the name of groups and datasets
with h5py.File('experiment.h5','r')as hfff:
    #Print key group 
    print('Key group:')
    for key in hfff.keys():
        print(key)
        #Print key attribute 
        item=hfff[key]
        print('Group Attribute:',dict(item.attrs))
        #Print key dataset
        print('Key dataset:')
        item=hfff[key]
        print(list(item.keys()))

Key group:
experiment_001
Group Attribute: {'date': '2024-11-25', 'description': 'Experiment 1: Temperature and Pressure Measurement'}
Key dataset:
['pressure', 'temperature']
experiment_002
Group Attribute: {'date': '2024-11-26', 'description': 'Experiment 2: Temperature and Pressure Measurement'}
Key dataset:
['pressure', 'temperature']

In [29]:
with h5py.File('experiment.h5','r')as hff:
    #Access the group 
    group1=hff['experiment_001']
    #Access the datasets 
    pressure1=group1['pressure']['data'][:]
    temp1=group1['temperature']['data'][:]
    
    #Access the attribute 
    #att=group.attrs['detail']
    
    print('Group Attribute:',att)
    print('Dataset1',pressure1)
    print('Dataset2',temp1)

Group Attribute: This is group 1
Dataset1 [8.96556011e-01 7.73790827e-01 3.82681557e-01 1.87586425e-02
 1.24563362e-01 4.99072256e-02 4.36004982e-01 7.11262828e-01
 1.11961856e-01 4.01480142e-02 2.89629544e-01 3.68382323e-02
 3.41715693e-01 9.02426304e-01 1.96992331e-01 5.51560875e-01
 5.84561144e-01 9.31944345e-01 9.43228876e-01 7.19905833e-01
 5.37983974e-01 2.69201620e-01 7.98018127e-01 9.87396974e-01
 5.43518362e-01 8.35444158e-01 5.25275717e-02 9.32290954e-01
 2.72372059e-01 8.49956944e-01 8.06471741e-02 7.92704321e-01
 3.94559423e-01 8.63374049e-01 6.77297039e-01 6.52007201e-02
 1.96638509e-01 9.66192681e-01 6.71726083e-01 8.58490241e-01
 4.03055586e-01 6.84026410e-01 2.33944159e-01 4.51877237e-01
 8.38319508e-01 4.44737533e-02 9.55962407e-01 3.07192951e-04
 7.16295648e-01 8.69301646e-02 5.16439981e-01 4.92363831e-01
 5.30596688e-01 8.17417971e-01 5.88633192e-01 2.26820121e-01
 7.29022888e-01 4.18271709e-01 2.46341056e-01 8.20366928e-01
 2.27679405e-01 3.52633020e-01 2.47977471e-01 9.72013215e-01
 2.00673727e-02 6.75153539e-01 4.48652766e-01 6.34295595e-01
 9.91062395e-01 1.95122088e-01 4.81637962e-01 4.11268940e-01
 7.27429094e-01 1.93897925e-01 4.82945801e-01 2.68959638e-01
 5.60157802e-01 4.12048616e-01 3.18751900e-03 8.87686756e-01
 1.00302814e-01 2.64939367e-01 2.25141947e-01 4.76115612e-01
 3.92090650e-01 6.23306585e-01 7.18198715e-01 4.85462132e-01
 5.75165926e-01 7.28769562e-01 3.49140005e-01 8.45751946e-01
 5.68650675e-01 5.63473022e-01 4.57840984e-01 2.80785219e-01
 5.84641745e-01 2.00608289e-01 1.63595515e-01 5.21290259e-03]
Dataset2 [0.97425368 0.99152279 0.14452026 0.29170646 0.42595925 0.13358701
 0.78844685 0.84888044 0.95448202 0.09136648 0.05991677 0.9129247
 0.93412555 0.57289599 0.77884954 0.30165421 0.75446354 0.2790052
 0.59465077 0.64025184 0.42280421 0.97760376 0.26453945 0.37523615
 0.17824969 0.55168954 0.20663188 0.87492387 0.87825034 0.23814476
 0.40642285 0.12754678 0.49602059 0.66886674 0.1037187  0.39848705
 0.74278458 0.94126959 0.48536927 0.57451013 0.96870276 0.53723338
 0.81254566 0.36086305 0.96479866 0.44157928 0.87262762 0.07042351
 0.5496186  0.23210555 0.88972525 0.51178314 0.96882886 0.37235688
 0.75550016 0.51477222 0.54808738 0.901447   0.19604896 0.5500287
 0.27425631 0.95587672 0.43862944 0.82721583 0.20653221 0.16505149
 0.40793232 0.93444767 0.12521605 0.3138126  0.88502239 0.2934064
 0.0446528  0.48604687 0.86003072 0.50876254 0.63889429 0.79981437
 0.74675635 0.81426812 0.33098741 0.88042653 0.69554393 0.59108537
 0.00864079 0.67876592 0.29726868 0.63918316 0.2395777  0.97795739
 0.76613464 0.30223159 0.13479864 0.14979262 0.49271423 0.308261
 0.55690602 0.4670148  0.30145132 0.71981079]

# Cleaning gg

In [30]:
import numpy as np 
import pandas as pd

In [31]:
#Duplicates
data={'Name':['Ali','Abu','Siti','Lee','Ali'], 
      'Age':[25,36,35,38,35], 
      'City':['KL','SDB','MLK','PNG','KL']}
df=pd.DataFrame(data)
print(df)
duplicate=df.duplicated()
print(duplicate)

   Name  Age City
0   Ali   25   KL
1   Abu   36  SDB
2  Siti   35  MLK
3   Lee   38  PNG
4   Ali   35   KL
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [32]:
df_no_dup=df.drop_duplicates()
print(df_no_dup)

   Name  Age City
0   Ali   25   KL
1   Abu   36  SDB
2  Siti   35  MLK
3   Lee   38  PNG
4   Ali   35   KL

In [37]:
dup_name=df.duplicated(subset='Name')
print(dup_name)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [38]:
df_no_dup_name=df.drop_duplicates(subset='Name',keep=False)
print(df_no_dup_name)

   Name  Age City
1   Abu   36  SDB
2  Siti   35  MLK
3   Lee   38  PNG

### Handing and MIssing

In [46]:
data={
    'A':[1,2,None,4],
    'B':[np.nan,2,3,4],
    'C':['na','valid','None','missing']
}
df=pd.DataFrame(data)
print(df)

checkmiss=df.notna()
print(checkmiss)

     A    B        C
0  1.0  NaN       na
1  2.0  2.0    valid
2  NaN  3.0     None
3  4.0  4.0  missing
       A      B     C
0   True  False  True
1   True   True  True
2  False   True  True
3   True   True  True

In [47]:
df_drop=df.dropna(axis=1)
print(df_drop)

         C
0       na
1    valid
2     None
3  missing

In [49]:
df_drop=df.dropna(subset=['A'],axis=0)
print(df_drop)

     A    B        C
0  1.0  NaN       na
1  2.0  2.0    valid
3  4.0  4.0  missing

In [50]:
print(df)

     A    B        C
0  1.0  NaN       na
1  2.0  2.0    valid
2  NaN  3.0     None
3  4.0  4.0  missing

In [51]:
df_fill=df.fillna(9999)
print(df_fill)

        A       B        C
0     1.0  9999.0       na
1     2.0     2.0    valid
2  9999.0     3.0     None
3     4.0     4.0  missing

In [52]:
df_ffill=df.ffill()
print(df_ffill)

     A    B        C
0  1.0  NaN       na
1  2.0  2.0    valid
2  2.0  3.0     None
3  4.0  4.0  missing

In [53]:
df_bfill=df.bfill()
print(df_bfill)

     A    B        C
0  1.0  2.0       na
1  2.0  2.0    valid
2  4.0  3.0     None
3  4.0  4.0  missing

In [54]:
df_linearfill=df.interpolate(method='linear')
print(df_linearfill)

     A    B        C
0  1.0  NaN       na
1  2.0  2.0    valid
2  3.0  3.0     None
3  4.0  4.0  missing

C:\Users\Dell\AppData\Local\Temp\ipykernel_15904\43332669.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_linearfill=df.interpolate(method='linear')

In [55]:
print(df)

     A    B        C
0  1.0  NaN       na
1  2.0  2.0    valid
2  NaN  3.0     None
3  4.0  4.0  missing

In [65]:
data={
    'A':[2,2,None,4],
    'B':[np.nan,2,3,4],
    'C':['na','valid','None','missing']
}
df=pd.DataFrame(data)
print(df)

     A    B        C
0  2.0  NaN       na
1  2.0  2.0    valid
2  NaN  3.0     None
3  4.0  4.0  missing

In [66]:
df['A'].median()

2.0

In [67]:
df['A']=df['A'].fillna(df['A'].mode()[0])
print(df)

     A    B        C
0  2.0  NaN       na
1  2.0  2.0    valid
2  2.0  3.0     None
3  4.0  4.0  missing

In [59]:
df['B']=df['B'].fillna(df['B'].median())
print(df)

     A    B        C
0  3.0  3.0       na
1  2.0  2.0    valid
2  3.0  3.0     None
3  4.0  4.0  missing

### Replacing value

In [68]:
df=pd.DataFrame({
    'A':[1,2,3,4], 
    'B':['apple','banana','orange','kiwi']
})
print(df)

   A       B
0  1   apple
1  2  banana
2  3  orange
3  4    kiwi

In [70]:
df['B']=df['B'].replace('apple','orange')
print(df)

   A       B
0  1  orange
1  2  banana
2  3  orange
3  4    kiwi

In [71]:
df['B']=df['B'].replace(['banana','orange'],'fruit')
print(df)

   A      B
0  1  fruit
1  2  fruit
2  3  fruit
3  4   kiwi

In [73]:
df=pd.DataFrame({
    'A':[1,2,3,4], 
    'B':['apple','banana','orange','kiwi']
})
print(df)
df['B']=df['B'].replace({'apple':'fruit','banana':'fruit'})
print(df)

   A       B
0  1   apple
1  2  banana
2  3  orange
3  4    kiwi
   A       B
0  1   fruit
1  2   fruit
2  3  orange
3  4    kiwi

### Handing outlier

In [84]:
df=pd.DataFrame({'Value':[10,1,250,200,15,300,20,25,30,12,5000]})
#compute mean an sd 
mean=df['Value'].mean() 
std=df['Value'].std()

lower_bound=mean-3*std
upper_boud=mean+3*std

#extract outlier with 3 sd of mean
df[(df['Value']<lower_bound)|(df['Value']>upper_boud)]

thres=3*std
df[abs(df['Value']-mean)>thres]

    Value
10   5000

In [82]:
#replace outliers
df.loc[abs(df['Value']-mean)>thres]=np.nan

In [83]:
print(df)

    Value
0    10.0
1     1.0
2   250.0
3   200.0
4    15.0
5   300.0
6    20.0
7    25.0
8    30.0
9    12.0
10    NaN

In [86]:
df['Value']=np.where(abs(df['Value']-mean)>thres,9999,df['Value'])
print(df)

    Value
0      10
1       1
2     250
3     200
4      15
5     300
6      20
7      25
8      30
9      12
10   9999

In [90]:
df=pd.DataFrame({'Value':[10,1,250,200,15,300,20,25,30,12,5000]})

thres=3*std
mean=df['Value'].mean()

def replace_outlier(val): 
    if abs(val-mean)>thres:
        return(np.nan)
    return(val)

df['Value']=df['Value'].apply(replace_outlier)
print(df)

    Value
0    10.0
1     1.0
2   250.0
3   200.0
4    15.0
5   300.0
6    20.0
7    25.0
8    30.0
9    12.0
10    NaN

In [92]:
df=pd.DataFrame({
    'Name':['Ali','Abu','Siti','Ahmad'], 
    'Weight':[60,85,72,95], 
    'Height':[1.65,1.78,1.75,1.80]
})

In [94]:
df['BMI']=df['Weight']/(df['Height']**2)
print(df)

    Name  Weight  Height        BMI
0    Ali      60    1.65  22.038567
1    Abu      85    1.78  26.827421
2   Siti      72    1.75  23.510204
3  Ahmad      95    1.80  29.320988

In [96]:
df=pd.DataFrame({
    'Name':['Ali','Abu','Siti','Ahmad'], 
    'Weight':[60,85,72,95], 
    'Height':[1.65,1.78,1.75,1.80]
})

def calculate_BMI(row): 
    return row['Weight']/(row['Height']**2)

df['BMI']=df.apply(calculate_BMI,axis=1)
print(df)

    Name  Weight  Height        BMI
0    Ali      60    1.65  22.038567
1    Abu      85    1.78  26.827421
2   Siti      72    1.75  23.510204
3  Ahmad      95    1.80  29.320988

In [97]:
df=pd.DataFrame({
    'Name':['Ali','Abu','Siti','Ahmad'], 
    'Weight':[60,85,72,95], 
    'Height':[1.65,1.78,1.75,1.80]
})

def weight_category(row): 
    if row['Weight']<65: 
        return 'Normal'
    else: 
        return 'Overweight'
        
df['weight_category']=df.apply(weight_category,axis=1)

print(df)

    Name  Weight  Height weight_category
0    Ali      60    1.65          Normal
1    Abu      85    1.78      Overweight
2   Siti      72    1.75      Overweight
3  Ahmad      95    1.80      Overweight

In [100]:
df=pd.DataFrame({
    'Category':['A','B','A','C','B','C','A']
})

#Use Map to map category using the following dictionary
dict={
    'A':'Apple', 
    'B':'Banana', 
    'C':'Cherry'
}

#create a new column called Fruit
df['Fruit']=df['Category'].map(dict)
print(df)

  Category   Fruit
0        A   Apple
1        B  Banana
2        A   Apple
3        C  Cherry
4        B  Banana
5        C  Cherry
6        A   Apple

### Discretization

In [104]:
df=pd.DataFrame({'Mark':[12,20,35,50,65,75,88,95]})
df['Mark_Bin']=pd.cut(df['Mark'],bins=3)
print(df)

   Mark          Mark_Bin
0    12  (11.917, 39.667]
1    20  (11.917, 39.667]
2    35  (11.917, 39.667]
3    50  (39.667, 67.333]
4    65  (39.667, 67.333]
5    75    (67.333, 95.0]
6    88    (67.333, 95.0]
7    95    (67.333, 95.0]

In [106]:
df=pd.DataFrame({'Mark':[12,20,35,50,65,75,88,95]})
df['Mark_Bin']=pd.cut(df['Mark'],labels=['C','B','A'],bins=3)
print(df)

   Mark Mark_Bin
0    12        C
1    20        C
2    35        C
3    50        B
4    65        B
5    75        A
6    88        A
7    95        A

In [108]:
df=pd.DataFrame({'Mark':[12,20,35,50,65,75,88,95]})
bins=[0.70,80,100]
labels=['c','B','A']
df['Mark_Bin']=pd.cut(df['Mark'],bins=bins,right=True)
print(df)

   Mark       Mark_Bin
0    12    (0.7, 80.0]
1    20    (0.7, 80.0]
2    35    (0.7, 80.0]
3    50    (0.7, 80.0]
4    65    (0.7, 80.0]
5    75    (0.7, 80.0]
6    88  (80.0, 100.0]
7    95  (80.0, 100.0]

In [110]:
df=pd.DataFrame({'Mark':[12,20,35,50,65,75,88,95]})
df['Mark_Bin']=pd.qcut(df['Mark'],q=4)
print(df)

   Mark         Mark_Bin
0    12  (11.999, 31.25]
1    20  (11.999, 31.25]
2    35    (31.25, 57.5]
3    50    (31.25, 57.5]
4    65    (57.5, 78.25]
5    75    (57.5, 78.25]
6    88    (78.25, 95.0]
7    95    (78.25, 95.0]

In [111]:
arr=np.array([1,2,3,4,5])

np.random.seed(2)
arr_rep=np.random.choice(arr,size=3,replace=True)
arr_wrep=np.random.choice(arr,size=3,replace=False)

print('oringnal arr',arr)
print('sample with replacement:',arr_rep)
print('sample with repalcement:',arr_wrep)

oringnal arr [1 2 3 4 5]
sample with replacement: [1 1 4]
sample with repalcement: [5 2 1]

In [112]:
df=pd.DataFrame({
    'A':[1,2,3,4,5], 
    'B':['a','b','c','d','e']
})

np.random.seed(2)
df_rep=df.sample(n=3,replace=True)
df_wrep=df.sample(n=3,replace=False)

print('oringnal df',arr)
print('sample with replacement:',df_rep)
print('sample with repalcement:',df_wrep)

oringnal df [1 2 3 4 5]
sample with replacement:    A  B
0  1  a
0  1  a
3  4  d
sample with repalcement:    A  B
4  5  e
1  2  b
0  1  a

### Dummy Variables

In [115]:
df=pd.DataFrame({'City':['KL','SGR','TRG','PHG'], 
                'Category':['A','B','C','A']})
df

  City Category
0   KL        A
1  SGR        B
2  TRG        C
3  PHG        A

In [116]:
df_dummy=pd.get_dummies(df,columns=['City'],drop_first=False)
print(df_dummy)

  Category  City_KL  City_PHG  City_SGR  City_TRG
0        A     True     False     False     False
1        B    False     False      True     False
2        C    False     False     False      True
3        A    False      True     False     False

### String Manipulation

In [118]:
text='Python is FUN!'
#convert to lowercase 
print(text.title())

Python Is Fun!

In [119]:
#String validation
text='12345'

print(text.isalpha())

False

In [125]:
text='       Hello World   !        '
print(text.strip())

Hello World   !

In [126]:
text='       Hello Python   !        '
print(text.find('Python'))

13

In [128]:
text='Hello Python!'
print(text.endswith('!'))

True

In [131]:
text='I love python'
print(text.replace('python','R'))

I love R

In [132]:
text='apple,banana,cherry'
fruit=text.split('a')
print(fruit)

['', 'pple,b', 'n', 'n', ',cherry']

In [136]:
text='apple,banana,cherry'
fruit=text.split(',')
print(fruit)
#join a list into a string 
print('&'.join(fruit))

['apple', 'banana', 'cherry']
apple&banana&cherry

In [144]:
df=pd.DataFrame({
    'Name':['Ali','Abu','Siti','AHMAD'], 
    'Comment':['I hate Python','Python IS boring','I find R is easier','I just HATE both']
})
df

    Name             Comment
0    Ali       I hate Python
1    Abu    Python IS boring
2   Siti  I find R is easier
3  AHMAD    I just HATE both

In [139]:
df['Comment']=df['Comment'].str.lower()
df

    Name             Comment
0    Ali       i hate python
1    Abu    python is boring
2   Siti  i find r is easier
3  AHMAD    i just hate both

In [145]:
df['Comment'].str.isdigit()

0    False
1    False
2    False
3    False
Name: Comment, dtype: bool

In [147]:
df=pd.DataFrame({
    'Name':['Ali','Abu','Siti','AHMAD'], 
    'Comment':['I hate Python','Python IS boring','I find R is easier','I just HATE both']
})
print(df)
df['Comment']=df['Comment'].str.strip()
print(df)

    Name             Comment
0    Ali       I hate Python
1    Abu    Python IS boring
2   Siti  I find R is easier
3  AHMAD    I just HATE both
    Name             Comment
0    Ali       I hate Python
1    Abu    Python IS boring
2   Siti  I find R is easier
3  AHMAD    I just HATE both

In [151]:
text="John:25,Alice-30,Bob-35"

import re
outfind=re.findall(r'\w+:\d+',text)
print(outfind)

['John:25']

In [152]:
text="Do you like C++ or C#"

import re
outfind=re.findall(r'C\+\+|C\#',text)
print(outfind)

['C++', 'C#']

In [153]:
text="There are 100 apples and 50 mangoes in this basket"

import re
outfind=re.findall(r'\d+',text)
print(outfind)

['100', '50']

In [7]:
import os 
import pandas as pd
os.getcwd()

'C:\\Users\\Dell\\Desktop\\python'

In [12]:
df=pd.read_csv('sample_data_cleaning.csv',skiprows=4,na_values=['-','NaN'])
df

,No,Name,sink Table,dishwasher,no Of mugs/plates,Note
0,1,Ali,sink only,no,9,NaN
1,2,Johan,sink and table,YES!,2-3,all looking GOOD!
2,3,Daus,"sink,table",Yes,8,NaN
3,4,George,NaN,NaN,0,All of us at workshop
4,5,Amelia,just the table,yes,around 10,NaN
5,6,Ahmad,both,NO,6,NaN
6,6,Ahmad,both,NO,6,NaN
7,7,Ava,didn't need doing,no.,4,not messy
8,8,Harry,just the sink,no,3,NaN
9,9,Cindy,sink & table,YES,6-9,can't remember them
10,10,Ariel,table only,no,2,NaN

In [10]:
df['dishwasher'].str.replace(r'[^\w\s]','',regex=True)

0       no
1      YES
2      Yes
3      NaN
4      yes
5       NO
6       NO
7       no
8       no
9      YES
10      no
Name: dishwasher, dtype: object